
body{
    margin: 0;
    padding: 0%;
    background-color: #e2d7d5;
    color: white;
}
/*Navbar*/
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 1rem;
    background-color: #d68b89;
}
.navbarLink{
    display: flex;
    align-items: center;
    text-decoration: none; /* Remueve el subrayado predeterminado */
    color: inherit;
}
.cartWidgetStyle {
    align-items: center;
    justify-content: center;
    /* Ajusta el tamaño según sea necesario para alinearlo con otros elementos */
    width: 100%; /* Ejemplo */
    height: 90px; /* Ejemplo */
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.navbarListado{
    display: flex;
    list-style: none;
}
.navbarListado li{
    margin-inline:15px;
    position: relative;
}
.navbarServicios{
    position: absolute;
    margin: 0;
    padding: 0%;
    background-color:#d68b89;
    border-radius: 5px;
    color: #c07673;
    box-shadow:0px 0px 2px 2px #c07673;
}
.navbarServicios__opciones{
    list-style: none;
}
.navbarServicios__opciones p{
    margin: 5px;
}
.carrito{
    width: 20%;
    height: 10%;
}
.carrito img{
    width: 20%;
    height: 10%;
}
.navbarLogo{
    height: 90px;
    width: 100px;
}
.navbarLogo img{
    width: 100%;
    height: 100%;
}
.items{
    color: black;
}
/*fin del navbar*/

.tituloBanner{
    color: black;
    text-align: left;
    margin-left: 32px;
    margin-top: 2rem;
}
/*servicios*/
.servicioDetalles{
    list-style-type:none;
    display: flex;
    width: 400px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.servicio__elemento{
    border: solid rgb(245, 180, 245) 1px;
    background-color: rgb(255, 225, 255);
    color: black;
}
.servicios{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3,418px);
    width: 100%;
    height: 100%;
    justify-content: center;
}
.servicios__elementos{
    border: solid rgb(245, 180, 245) 1px;
    background-color: rgb(255, 225, 255);
    color: black;
    margin-inline: 1px;
    margin-bottom: 10px;
}
.elementos_button{
    border-radius: 3px;
    box-shadow: none;
    border-color:#edb6b4;
    background-color: #edb6b4;
    height: 30px;
    margin-bottom: 10px;
}
.elementos_informacion{
    align-items: center;
    justify-content: center;
    margin:auto;
    font-size: 15px;
}
.elementos_informacion p{
    text-align: left;
    margin-inline: 5px;
    margin-bottom: 0;
}
.elementos_img img{
    width: 100%;
    height: 65%;
}
