
body{
    margin: 0;
    padding: 0%;
    color: white;
    background-color: #e2d7d5;
    
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 1rem;
    background-color: #edb6b4;
}
.color{
    color: black;
}
.navbarDe li{
    margin-inline: 5px;
}
a{
    text-decoration: none;
    color:white
}
ul.navbarListado{
    display: flex;
    list-style: none;
    display: flex; 
    padding: 0;
}
.navbarServicios{
    position: absolute;
    margin: 0;
    padding: 0%;
}
.navbarServicios li{
    list-style: none;
}

.carrito{
    width: 20%;
    height: 10%;
}

.navbarLogo img{
    width: 150px;
    height: 150px;
    margin: 0%;
}
.items{
    color: black;
}
.bannerPrincipal{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.bannerPrincipal div{
    width: calc(100%/3);
}
.bannerPrincipal div img{
    width: 100%;
    height: 100%;
}
.tituloServicios{
    color: black;
    text-align: left;
    margin-left: 32px;
    margin-top: 2rem;
}
.tituloServicios h3{
    font-size: 16px;
}
.servicios{
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;
}
.servicios ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
}
.servicios ul li{
    width: 302px;
    height: 407px;
    margin-inline: 2px;
    margin-top: 3px;
    border: solid rgb(245, 180, 245) 1px;
    background-color: rgb(255, 225, 255);
}
.serviciosTitulo{
    align-items: center;
    justify-content: center;
    margin:auto;
    height: 15%;
    width: 95%;
    font-size: 15px;
    background-color: none;
}
.serviciosTitulo p{
    text-align: left;
    margin: 0%;
}
.listadoDeServicios img{
    width: 100%;
    height: 65%;
}
/*.categorias{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 470px;
    color: #edb6b4;
}
.categoriasTitulo{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.categoriasDespliegue{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}
.categoriasDespliegue_Nombre{
    align-items: center;
    justify-content: center;
    margin-inline: 5px;
    height: 200px;
    width: 100px;
    background-color:#edb6b4;
    border: solid 2px #c99694;
}*/